.about{
    width: 40vw;
    height: 100vh;
    background-color: lightslategray;
}

.aboutblah{
    width: 60vw;
    height: 100vh;
    border: 1px solid black;
    background-color: gray;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
.main{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    
}
.aboutImg{
    min-width: 100%;
    min-height: 100%;
   resize:contain;

}