.container{
    background-color: blue;
    height: 100vh;
    
}




.top{
    
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    margin-left: 20vw;
}
.bottom{
    height:50vh
}
