.container{
    background-color:green;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
}
.txt{
    font-size: 40px;
    font-weight: 600;

}
.txt2{
    font-size: 40px;
    font-weight: 600;
    color:white;
    margin-left: 7px;

}

.form{
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    padding: 30px;
    margin: 30px;
    border-radius: 20;
    height: 70vh;
    width: 30%;
    border-radius: 30px;
}
.info{
    
    margin-top: 30vh;
    height: 70vh;
    line-height: 50px;
    font-size: small;
    font-weight: 300;
    color: lightgray;
    display: flex;
    flex-direction: column;
    
    
    
}
.contact{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
.height{
    height: 30vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
   
}

.icons{
    font-size: 20px;
    color: #000;
    margin: 10px;

}
.icon-placing{
    display: flex;
    align-items: center;
    
}