.input{
    align-self: stretch;
    justify-content: center;
    color: #333;
    border-bottom-color: #ffffff;
    width: 100%;
    margin-bottom: 44px;
    padding: 4px;
    font-size: 14px;
    padding: 10px 5px;
}

.button{
    height:30px;
    width:80px;
    border-radius: 5px;
    color: #fff;
    background-color: green;
    text-align: center;
    cursor: pointer;
    align-self: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;

}