.main{display: flex;
    height: 100vh;
}

.container{
    height:60vh;
    background-color:lightskyblue;
    display: flex;
    justify-content: center;
    align-items:flex-end;

}

.aboutImg{
    height:15vh ;
    width: 15vw;
}


.img{
    height: 15vh;
    width: 15vw;
    background-color: lightslategray;
}
